{
    "cs": "",
    "ds": "",
    "it": "",
    "ece": "",
    "vlsi": "",
    "ice": "",
    "ee": "",
    "mnc": "",
    "chem": "",
    "civil": "",
    "mech": "",
    "bio": "",
    "tt": "",
    "ipe": "",
    "helper_1st_year": "",
    "helper_2nd_year": "",
    "helper_3rd_year": "",
    "helper_4th_year": ""
}